@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-[#000000] text-white min-h-screen font-openSans;
  }
  .h1{
    @apply font-dmSans
  }
}

@layer utilities {
  .container {
    @apply relative flex-1 overflow-y-auto px-[5%];
  }
  .shad-input-label {
    @apply text-14-medium text-dark-700 !important;
  }
  .sub-container {
    @apply mx-auto flex size-full flex-col py-10;
  }
  .search-input {
    @apply appearance-none h-12 base-regular;

  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
  /* TYPOGRAPHY */
  .h2-bold {
    @apply text-[44px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-bold {
    @apply text-[50px] font-bold leading-[140%] tracking-tighter;
  }

  .h2-medium {
    @apply text-[28px] font-medium leading-[140%] tracking-tighter;
  }
  .text-28 {
    @apply text-[28px] font-bold leading-[140%] tracking-tighter;
  }
  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }
  .h3-medium {
    @apply text-[22px] font-medium leading-[140%] tracking-tighter;
  }
  
  .base-bold {
    @apply text-[16px] font-bold leading-[140%] tracking-tighter;
  }
  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }
  .menu-medium {
    @apply text-[15px] font-medium leading-[140%];
  }
  .menu-semibold {
    @apply text-[15px] font-semibold leading-[140%];
  }
  .menu-regular {
    @apply text-[15px] font-normal leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }
  .small-bold {
    @apply text-[14px] font-bold leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }
  .subtle-bold {
    @apply text-[12px] font-bold leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }
  .outline-btn-light {
    @apply bg-transparent border-2 border-light_green px-10 py-4
  }

  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  .common-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14 custom-scrollbar;
  }


  /* Profile */
  .profile-container {
    @apply flex flex-col items-center flex-1 gap-10 overflow-scroll py-10 px-5 md:p-14 custom-scrollbar;
  }

  .profile-inner_container {
    @apply flex items-center md:mb-8 xl:items-start gap-8 flex-col xl:flex-row relative max-w-5xl w-full;
  }

  .profile-tab {
    @apply flex-center gap-3 py-4 w-48 bg-dark-2  transition flex-1 xl:flex-initial;
  }
  .star-icon {
    @apply mr-4;
  }
  
  .star-icon:last-child {
    @apply mr-0;
  }
  
}


/* price range */

/* AB Range Slider */
#range-slider-ab {
 @apply h-2 bg-[#484848]
}

#range-slider-ab .range-slider__range {
@apply bg-light_green
}

#range-slider-ab .range-slider__thumb {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

#range-slider-ab .range-slider__thumb[data-lower] {
  background: url("/png/angle-left.png") no-repeat center
  #B4E330;
  width: 24px;
  height: 24px;
}

#range-slider-ab .range-slider__thumb[data-upper] {
  background: url("/png/angle-right.png") no-repeat center
  #B4E330;
  width: 24px;
  height: 24px;
}

#range-slider-ab .range-slider__thumb[data-lower][data-active] {
  animation: rotate-anti-clockwise 0.9s infinite;
}

#range-slider-ab .range-slider__thumb[data-upper][data-active] {
  animation: rotate-clockwise 0.9s infinite;
}

@keyframes rotate-clockwise {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-anti-clockwise {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
